/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 700px;
}

html {
    font-size: 100%;
    font-family: "Whitney", sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

/* COMMON */
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.text{
    line-height: 1.6em;
    font-weight: 600;
}

.title{
    font-size: 2.5em;
    margin-bottom: 1em;
}

/* buttons */
.btn{
    border-radius: 20px;
    font-weight: bold;
}

.btn-white{
    color: black;
    background-color: white;
}

.btn-black{
    color: white;
    background-color: black;
}

.btn-blue{
    background-color: rgb(49, 97, 224, .8);
    color: white;
}

.btn-large {
    padding: .9em 1.6em
}

.btn-small{
    padding: .6em .8em;
}


/* HEADER */
/* nav */
header{
    height: 70px;
    background-color: #255ee9;
}

header .logo{
    height: 40px;
    width: auto;
    vertical-align: middle;
}

nav{
    line-height: 70px;
}

nav .col-center li{
    display: inline-block;
    margin-left: 2em;
}

nav .col-center li a{
    font-weight: bold;
    color: white;
}

.col{
    float: left;
}

.col-sides {
    width: 15%;
}

.col-center{
    width: 70%;
    text-align: center;
}

.col-btn{
    text-align: right;
    text
}


/* MAIN */
/* banner */
.banner{
    padding: 6em 0em;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.banner-text{
    width: 50%;
    margin: 0 auto;
}

.banner-text h1{
    margin-bottom: 1.1em;
    font-size: 3em;
}
.banner-text p{
    margin-bottom: 2em;
}

.banner .btn-black{
    margin-left: 1.3em;
}

/* SECTION */

main .section-content{
    padding: 10em 0;
}

.section-col-img{
    width: 65%;
    padding-right: 4em;
    float: left;
}

.section-col-text{
    width: 35%;
    padding-left: 4em;
    float: left;
}

.middle-section-col-img{
    width: 65%;
    padding-left: 4em;
    float: left;
}

.middle-section-col-text{
    width: 35%;
    padding-right: 4em;
    float: left;
}

/* Large section */
.large-section{
    margin-top: 8em;
    text-align: center;
    padding-bottom: 8em;
}

.large-section-text{
    width: 90%;
    margin: 0 auto;
}

.large-section img{
    padding: 0 3em;
}

.bg-stars{
    display: inline-block ;
    background-image: url(../img/stars.svg);
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.5em 2.5em;
}

.bg-stars h3{
    font-size: 1.6em;
}

/* FOOTER */
/* footer top */
footer{
    height: 600px;
    background-color: #23272A;
}

.footer-top{
    border-bottom: 1px solid #7289DA;
}
/* left column */
.col-support{
    float: left;
    width: 36%;
    padding: 4em 5em 2em .5em;
}

.language img{
    width: 20px;
}

.col-support h3{
    color: #7289DA;
    font-size: 2em;
    margin-bottom: .6em;
}

.col-list a,
.col-support .language span{
    color: white;
}

.col-support .language{
    margin-bottom: .7em;
}

.col-support .social a{
    font-size: 1.3em;
    color: white;
    padding: .3em;
}

/* right columns */
.col-list{
    float: left;
    width: 16%;
    padding: 4em 1em 1.5em 0;
}

.col-list li{
    line-height: 1.9em;
}

.col-list ul li:first-child {
    color:#7289DA;
    font-weight: bold;
}

/* footer bottom */
.col-left{
    float: left;
    padding: 2em 0 0 .5em;
}

.footer-bottom .col-right{
    float: right;
    margin: 2.5em 1em 0 0;
}
