/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: "Whitney", sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

/* COMMON */
.container{
    width: 80%;
    margin: 0 auto;
}

.text{
    line-height: 1.6em;
    font-weight: 600;
}

/* buttons */
.btn{
    border-radius: 20px;
    font-weight: bold;
}

.btn-white{
    color: black;
    background-color: white;
}

.btn-black{
    color: white;
    background-color: black;
}

.btn-large {
    padding: .9em 1.6em
}

.btn-small{
    padding: .8em 1em;
}

/* HEADER */
/* nav */
header{
    height: 70px;
    background-color: #3161E0;
}

header #logo{
    height: 40px;
    width: auto;
    vertical-align: middle;
}

nav{
    line-height: 70px;
}

nav .col-center li{
    display: inline-block;
    margin-left: 2em;
}

nav .col-center li a{
    font-weight: bold;
    color: white;
}

.col{
    float: left;
}

.col-sides {
    width: 15%;
}

.col-center{
    width: 70%;
    text-align: center;
}

.col-btn{
    text-align: right;
    text
}


/* MAIN */
/* banner */
.banner{
    padding: 6em 0em;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.banner-text{
    width: 50%;
    margin: 0 auto;
}

.banner-text h1{
    font-size: 3em;
    margin-bottom: 1em;
}
.banner-text p{
    margin-bottom: 2em;
}

.banner .btn-black{
    margin-left: em;
}

/* SECTION */

.section-content{
    padding: 5em 0;
}

.section-col-img{
    height: 400px;
    width: 60%;
    float: left;
}

.section-col-text{
    height: 400px;
    width: 40%;
    padding: 0 2em;
    float: left;
}

.section-col-text h2{
    font-size: 2.5em;
    margin-bottom: 0.8em;
}